* {
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color: #2c00bf;
    position: sticky !important;
    width: 100%;
    top: 0;
    z-index: 100;
    color: white;
    font-weight: 600;
}

.icon-header {
    padding : 0 12px;
    position: relative;
    margin: 0 5px;
    font-size: 25px;
    color: white;
}

#count_book_header {
  position        : absolute;
  top             : -6px;
  right           : -3px;
  background-color: #b81b21;
  border-radius   : 50%;
  display         : inline-block;
  width           : 19px;
  text-align      : center;
  font-size       : 12px;
  color           : #fff;
}


/*footer*/
.footer {
    background-color: #2c00bf;
    width: 100%;
}

.logo-footer {
    min-width: 20px;
    height: 70px;
}

.footer-content{
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
    text-align: justify;
}

.icon-footer {
    margin: 3px;
    color: white;
    font-size: 30px;
}

/*book*/
.link {
    text-decoration: none;
    color: black;
}

.line {
    border-top: 5px solid #2c00bf;
}

.book-link{
    text-decoration: none;
    color: black;
}

.book-item {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.book-image {
    width: 100%;
    height: 320px;

}


.book-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582); 
    transition: box-shadow 0.3s ease;
}


.book-item h5 {
    margin-top: 10px;
    margin-bottom: 5px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}