* {
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color: #2c00bf;
    position: sticky !important;
    width: 100%;
    top: 0;
    z-index: 100;
    color: white;
    font-weight: 600;
}


.header-button {
    width: 110px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-toggler {

    border-color: white;
    background-color: white;
}



/*footer*/
.footer {
    background-color: #2c00bf;
    width: 100%;
}

.logo-footer {
    min-width: 20px;
    height: 70px;
}

.footer-content{
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
    text-align: justify;
}

.icon-footer {
    margin: 5px;
    color: white;
    font-size: 30px;
}

/*book*/
.link {
    text-decoration: none;
    color: black;
}

.line {
    border-top: 5px solid #2c00bf;
}

.book-link{
    text-decoration: none;
    color: black;
}

.book-item {
    text-align: center;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
}

.book-image {
    width: 100%;
    max-width: 270px;
    height: 320px;

}

.book-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582); 
    transition: box-shadow 0.3s ease;
}


.book-item h5 {
    margin-top: 10px;
    margin-bottom: 5px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

/*detail_book*/
.detail-book-name {
    color: #2c00bf;
    font-weight: 500;
    font-size: 30px;
}

.favorite-btn {
        background: none;
        border: red solid;
        border-radius: 5px;
        cursor: pointer;
}

.favorite-icon {
    color: red;
    font-size: 30px; 
}


.image-container {
  width: 100%;
  padding-top: 133.33%; 
  position: relative; 
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #2c00bf solid;
}

.read-btn {
    background-color: #2c00bf; 
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px 20px;

}

.download-btn {
    background-color:dimgray; 
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px 20px;

}

.date-review {
    margin-left: 20px;
    color: dimgray;
    font-style: italic;
    font-size: 14px;
}

/*Info-user*/
.selected {
    background-color: #2c00bf; 

}

.selected a {
    color: white;

}


/*slidebar*/

.list-group-item {
    background-color: #2c00bf;
    color: white;
    border: none;
}

.list-group-item a{
    text-decoration: none; 
    color: white;
}

.selected-ad {
    font-weight: bold;
    background-color: #1a0073;
}

.list-group-item:hover {
    background-color: #1a0073;
}

